header {
  background-image: linear-gradient(to right, #9eb3ff, #3c5bc8, #293ba5, #192984);
  padding: 8px;
  text-align: right;
  padding-right: 200px;
  color: white;
}

h1 {
  font-size: 38px;
}

.container {
  margin-top: 10px;
  margin-left: 0;
}

.search {
  padding-bottom: 20px;
  height: 100%;
  vertical-align: top;
}

.search h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 5px
}

#search-form {
  padding-left: 5px;
}

#search-input {
  margin-left: 3px;
  padding: 7px;
}

#search-btn {
  width: 100% !important;
  margin-left: 3px !important;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #7d9de6;
  border: none;
  padding: 10px;
  color: rgb(241, 241, 241)
}

#border {
  border-bottom: solid black 1px;
  margin-top: 20px;
  margin-left: 4px;
  margin-bottom: 10px;
}

#search-history {
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #7d9de6;
  border: none;
  padding: 3px;
}

#search-list button {
  text-align: center;
  list-style: none;
  width: 110%;
  border: none;
  border-radius: 4px;
  background-color: #b3b3b3;
  padding-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  color: rgb(0, 0, 0)
}

#day-0 {
  text-align: center;
  border: black solid 2px;
  padding: 6px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
  background-color: #ebebeb;
  padding: 10px;
}

#city-name {
  font-size: 30px;
}

#five-day-forecast {
  position: relative;

}

#card-container {
  display: flex;
  flex-direction: row;
}

.day-card {
  color: white;
  background-color: #4d4c5d;
  width: 60rem;
  padding: 10px 40px 20px 5px;
  margin: 10px;
  list-style: none;
  text-align: left;
  line-height: 30px;
  display: inline;
}

.date {
  font-size: 24px;
}

.icon {
  max-width: 250px;
}

.temp {
  font-size: 20px;
  text-align: center;
  background-color: #e8a175; 
  font-weight: 800;
  padding: 10px;
}

.wind {
font-size: 20px;
text-align: center;
background-color: #98b0e8;
font-weight: 800;
padding: 10px;
}

.humidity {
  font-size: 20px;
  text-align: center;
  background-color: hsl(199, 100%, 72%, .8);
  font-weight: 800;
  padding: 10px;
}