header {
  background-image:linear-gradient(to right, #9eb3ff, #3c5bc8, #293ba5, #192984);
  padding: 8px;
  text-align: right;
  padding-right: 200px;
  color: white;
}

h1 {
    font-size: 38px;
}

.search {
  width: 40%;
  padding-bottom: 20px;
}

.search h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 5px

}

#search-form {
  width: 70% !important;
  padding-left: 5px;
}

#search-btn {
width: 70% !important;
margin-left: 3px !important;
margin-top: 15px;
border-radius: 4px;
background-color: #7d9de6;
border: none;
padding: 3px;
color: rgb(241, 241, 241)

}
#border {
  border-bottom: solid black 1px;
  margin-top: 20px;
  width: 70%;
}

#search-history {
text-align: center;
margin-top: 15px;
border-radius: 4px;
background-color: #7d9de6;
border: none;
padding: 3px;

}