
header {
  background-image: linear-gradient(to right, #9eb3ff, #3c5bc8, #293ba5, #192984);
  padding: 8px;
  text-align: right;
  padding-right: 200px;
  color: white;
}

h1 {
  font-size: 38px;
}
.container {
  margin-top: 10px;
  margin-left: 0;
}

.search {
  padding-bottom: 20px;
  height: 100%;
  vertical-align: top;
}

.search h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 5px
}

#search-form {
  padding-left: 5px;
}

#search-input {
margin-left: 3px;
padding: 7px;
}

#search-btn {
  width: 100% !important;
  margin-left: 3px !important;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #7d9de6;
  border: none;
  padding: 10px;
  color: rgb(241, 241, 241)
}

#border {
  border-bottom: solid black 1px;
  margin-top: 20px;
  margin-left: 4px;
  margin-bottom: 10px;
}

#search-history {
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #7d9de6;
  border: none;
  padding: 3px;
}

#search-list li {
  text-align: center;
  list-style: none;
  border-radius: 4px;
  background-color: #b3b3b3;
  padding-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  color: rgb(0, 0, 0)
}

#day-one {
  border: black solid 1px;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
}

#city-name {
  font-size: 25px;
}

#five-day-forecast {
position: relative;

}

#card-container {
display: flex;
flex-direction: row;
}

.day-card {
color: white;
background-color: #4d4c5d;
width: 100% !important;
padding: 10px 40px 20px 5px;
margin: 10px;
list-style: none;
text-align: left;
line-height: 30px;
display: inline;
}
